main {
    min-height: calc(100vh - 160px);
}

#inputBuscar {
  background-color: rgb(160, 237, 239);
  border-color: rgb(26, 76, 176); 
}

#btnBuscar {
  background-color: rgb(160, 237, 239);
  border-color: rgb(26, 76, 176); 
  color: rgb(26, 76, 176); 
}

.card-body{
  background-color: rgba(160, 236, 239, 0.616);
}

.img-ajustada {
  width: 100%;       
  border-radius: 0.25rem 0 0 0.25rem;
}

.descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img-container {
  width: 100%;
  height: 180px;  
  overflow: hidden;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
}

.descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;  
  -webkit-box-orient: vertical;
}
